<style>
  .container {
    width: 80%;
    max-width: 680px;
    display: flex;
    flex-direction: column;
  }
  .link-active {
    box-shadow: 0px 0px 3px 3px coral;
  }
</style>
<div class="container">
  <ul>
    <li><a routerLink="/home" routerLinkActive="link-active">Home </a></li>
    <li>
      <a routerLink="/rxjscoldhot" routerLinkActive="link-active">cold </a>
    </li>
    <li>
      <a routerLink="/sharereplay" routerLinkActive="link-active">share</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
