<h3>here is the github user lists:</h3>
<div *ngFor="let user of users$ | async">
  <div style="display: flex; flex-direction: row">
    <div style="font-size: 0.9em; margin: 10pxx; width: 10%">
      <strong>User Name:</strong>{{ user.login }}
    </div>
    <div style="font-size: 0.9em; margin: 10pxx; width: 50%">
      <strong>Github URL:</strong>{{ user.url }}
    </div>
  </div>
</div>

<div *ngFor="let user of users$ | async">
  <div style="display: flex; flex-direction: row">
    <div style="font-size: 0.9em; margin: 10pxx; width: 10%">
      <strong>User Name:</strong>{{ user.login }}
    </div>
    <div style="font-size: 0.9em; margin: 10pxx; width: 50%">
      <strong>Github URL:</strong>{{ user.url }}
    </div>
  </div>
</div>
